body {
    margin: 0;
}

.container {
    padding: 0 4%;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*color: #F3F3F3;*/
/*color: #F0F0F0;*/
/*color: #000;*/
/*color: #343638;*/
/*color: #E8E8E8;*/
/*color: #9E9E9E;*/
/*color: #B7C8D9;*/
header {
    display: flex;
}

/*nav{*/
/*f*/
/*}*/
.short-descr {
    text-align: center;
    font: 34px OpenSans-Regular, sans-serif;
}

.some-descr {
    font: 34px OpenSans-Regular, sans-serif;
    line-height: 44px;
}

.main-photo-block h1 {
    font: 70px OpenSans-Regular, sans-serif;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 40vh 0 25px;
}

.main-short-info {
    text-align: center;
}

.more-btn {
    font: 20px OpenSans-Regular, sans-serif;
    padding: 24px 120px;
    color: white;
    border: 2px solid white;
}

.some-little-descr {
    font: 20px OpenSans-Regular, sans-serif;
    line-height: 28px;
}

.main-photo-block {
    background: url("../img/apples.jpg") no-repeat;
    background-size: cover;
    color: #FFF;
    min-height: 100vh;
}

.articles {
    background-color: #F3F3F3;
    text-align: center;
}

.articles h3 {
    font: 36px OpenSans-Regular, sans-serif;
    margin: 210px auto;
    display: inline-block;
}

.logo {
    text-transform: uppercase;
}

.some-info {
    display: flex;
    margin: 160px 0;
}

.some-info div {
    width: 50%;
}

.articles h3 {
    text-align: center;
}

.articles .row {
    display: flex;
    position: relative;
}

.article-text {
    display: flex;
    width: 25%;
}

.article-photo {
    width: 75%;
}

.article-text p {
    align-self: center;
    text-align: center;
}

.articles .row.single-article:nth-child(odd) .article-photo {
    right: 0;
    position: absolute;
}

.articles .row.single-article:nth-child(odd) .article-text {
    left: 0%;
}
